# ------------------------
# Python cache / bytecode
# ------------------------
__pycache__/

# ------------------------
# IDE / editor settings
# ------------------------
.vscode/
.idea/

# ------------------------
# OS / misc
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Logs / temp files
# ------------------------
*.log
*.tmp
*.bak

# ------------------------
# Outputs / results
# ------------------------
result/
weights/


